MyTubeClient/src/conf/xml-resources/web-service-references/MyTubeService/wsdl/localhost_8084/MyTubeWS/MyTubeService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://mytubeservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mytubeservice/">

<xs:element name="downloadVideo" type="tns:downloadVideo" />

<xs:element name="downloadVideoResponse" type="tns:downloadVideoResponse" />

<xs:element name="uploadVideo" type="tns:uploadVideo" />

<xs:element name="uploadVideoResponse" type="tns:uploadVideoResponse" />

<xs:complexType name="uploadVideo">
<xs:sequence>
<xs:element name="videoInput" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="descricao" type="xs:string" minOccurs="0" />
<xs:element name="videoName" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadVideoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadVideo">
<xs:sequence>
<xs:element name="videoId" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadVideoResponse">
<xs:sequence>
<xs:element name="return" type="tns:videoFile" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="videoFile">
<xs:sequence>
<xs:element name="data" type="xs:base64Binary" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="fileName" type="xs:string" minOccurs="0" />
<xs:element name="videoId" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>